body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*MY OWN CSS*/

.carousel-inner {
    height: 700px
}

    .carousel-inner img {
        width: 100%;
        height: 100%;
    }

.centerimages {
    margin: 0 auto;
    width: 450px;
    text-align: center;
}

article img {
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 60px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 100px;
}


html, body {
    height: 100%
}

a {
    color: darkgray;
}

ul {
    list-style: none;
}

.navbar {
    background-color: #333333;
    color: darkgray;
}

#imageHeight {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.footerCustom {
    color: white;
    font-size: small;
    background-color: #333333;
    text-align: left;
    padding-left: 25px;
    height: 100px;
}

.navbar-icon {
    background-color: #333333;
    margin-right: 0px;
}


@media (min-width: 576px) {
    .container {
        max-width: 400px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 700px;
    }
}


body {
    font-family: Cambria, Cochin, Georgia;
}

.navheadings {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.wrapper {
    display: flex;
    width: 100%;
}




html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}



#sidemenu {
    background: white;
    width: 350px;
    height: 100%;
    position: fixed;
    right: 0px;
    margin-right: -350px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 50px;
    border-left: .2px solid lightgray;
}

.fixed-top.scrolled {
    background-color: #333333;
    transition: background-color 200ms linear;
}




.menuicon {
    width: 25px;
    height: 25px;
    transition: 200ms;
}



img#icon {
    height: 40px;
    width: 40px;
    margin-left:10px;
    border-radius: 50%;
}

.background1 {
    background-color: white;
    height: 900px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    padding-top: 30px;
}

.background2 {
    background-color: #f2f2f2;
    height: 900px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    padding-top: 30px;
}

.paragraph {
    font-family: calibri(body);
    font-size: 22px;
    color: #595959;
    overflow: hidden;
    text-overflow: ellipsis;
}


.sidebarheader {
    color: #333333;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}


.btn-space {
    margin: 5px;
    opacity: 0.5;
}

.main-buttons {
    margin-bottom: 50px;
    margin-top: 50px;
}


.child-footer {
    height: 100%;
}

#sidenavbar a {
    color: #333333;
    padding: 5px;
}

/* prevents image from being saved  */
img {
    pointer-events: none;
}



.img-fluid {
    width: 100%;
    height: 400px;
}
