@{
    ViewBag.Title = "Index";
}

<!--THE MAIN TEXT IN THE CENTER-->

<article class="jumbotron-fluid background1 slidearticle">

    <div class="main-buttons container">

        <button class="btn btn-info" type="button" onclick="window.location='./TagsXamarin.html'">ANDROID</button>

    </div>
    <div class="container centerimages">
        <img src="images/singapore.jpg" class="img-thumbnail">
    </div>



    <p class="container paragraph">

        ANDROID
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, neque eaque. Consequuntur quod alias corrupti natus quasi maiores dolore quos! Voluptas itaque repellat doloremque cupiditate quo eaque placeat nihil quam.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum adipisci labore incidunt hic. Consequuntur tempore, in itaque quo odio, architecto quos porro temporibus adipisci doloremque aliquam cupiditate magnam similique esse!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatum a rem laudantium, eos ducimus quia qui magni porro modi deserunt culpa error molestiae! Officiis commodi magnam dicta. Reprehenderit, neque?
        <a href="">EDasdasdasdasdasdawdadsad</a>
    </p>


</article>

<article class="jumbotron-fluid background2 slidearticle">
    <div class="container">
        <div class="main-buttons">

            <button class="btn btn-info" type="button">XAMARIN</button>

        </div>
        <p class="paragraph">
            XAMARIN
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, neque eaque. Consequuntur quod alias corrupti natus quasi maiores dolore quos! Voluptas itaque repellat doloremque cupiditate quo eaque placeat nihil quam.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum adipisci labore incidunt hic. Consequuntur tempore, in itaque quo odio, architecto quos porro temporibus adipisci doloremque aliquam cupiditate magnam similique esse!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quidem maxime, neque sed totam exercitationem dolor reprehenderit ducimus quasi asperiores alias illum nemo dicta libero? Aliquid eligendi quas nesciunt qui.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quis rem quae provident magnam nostrum, esse sequi quaerat eligendi dolorum laboriosam optio nemo quas accusantium autem aperiam, suscipit, iste impedit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi inventore ullam sed provident perferendis, libero sit ab laboriosam totam eum veniam voluptatibus, incidunt nostrum ad mollitia maiores! Optio, architecto tempora.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aut doloribus voluptates consectetur architecto officiis accusantium, distinctio aperiam atque reiciendis perferendis laudantium sunt, ut libero! Harum, exercitationem cumque! Dolor, obcaecati?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolor laudantium eum dicta. In exercitationem nesciunt soluta, laborum repellendus assumenda, deserunt dicta nam voluptates facere quam, distinctio recusandae vero ducimus!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, neque eaque. Consequuntur quod alias corrupti natus quasi maiores dolore quos! Voluptas itaque repellat doloremque cupiditate quo eaque placeat nihil quam.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum adipisci labore incidunt hic. Consequuntur tempore, in itaque quo odio, architecto quos porro temporibus adipisci doloremque aliquam cupiditate magnam similique esse!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quidem maxime, neque sed totam exercitationem dolor reprehenderit ducimus quasi asperiores alias illum nemo dicta libero? Aliquid eligendi quas nesciunt qui.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quis rem quae provident magnam nostrum, esse sequi quaerat eligendi dolorum laboriosam optio nemo quas accusantium autem aperiam, suscipit, iste impedit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi inventore ullam sed provident perferendis, libero sit ab laboriosam totam eum veniam voluptatibus, incidunt nostrum ad mollitia maiores! Optio, architecto tempora.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aut doloribus voluptates consectetur architecto officiis accusantium, distinctio aperiam atque reiciendis perferendis laudantium sunt, ut libero! Harum, exercitationem cumque! Dolor, obcaecati?
            Lorem ipsum dolor sit amet cons
        </p>
        <a href="">ED</a>
    </div>


</article>
<article class="jumbotron-fluid background1 slidearticle">
    <div class="container">
        <div class="main-buttons">

            <button class="btn btn-info" type="button">REACT</button>

        </div>
        <p class="paragraph">
            REACT
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, neque eaque. Consequuntur quod alias corrupti natus quasi maiores dolore quos! Voluptas itaque repellat doloremque cupiditate quo eaque placeat nihil quam.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum adipisci labore incidunt hic. Consequuntur tempore, in itaque quo odio, architecto quos porro temporibus adipisci doloremque aliquam cupiditate magnam similique esse!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quidem maxime, neque sed totam exercitationem dolor reprehenderit ducimus quasi asperiores alias illum nemo dicta libero? Aliquid eligendi quas nesciunt qui.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quis rem quae provident magnam nostrum, esse sequi quaerat eligendi dolorum laboriosam optio nemo quas accusantium autem aperiam, suscipit, iste impedit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi inventore ullam sed provident perferendis, libero sit ab laboriosam totam eum veniam voluptatibus, incidunt nostrum ad mollitia maiores! Optio, architecto tempora.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos aut doloribus voluptates consectetur architecto officiis accusantium, distinctio aperiam atque reiciendis perferendis laudantium sunt, ut libero! Harum, exercitationem cumque! Dolor, obcaecati?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolor laudantium eum dicta. In exercitationem nesciunt soluta, laborum repellendus assumenda, deserunt dicta nam voluptates facere quam, distinctio recusandae vero ducimus!
        </p>
        <a href="">ED</a>
    </div>
</article>